<div class="control-section">
  <ejs-treegrid [dataSource]='data' #grid id="gridcomp" [allowSorting]='true' [allowMultiSorting]='allowMultiSorting'
    childMapping='subtasks' [treeColumnIndex]='1' [allowResizing]='allowResizing' [editSettings]='editSettings'
    [contextMenuItems]="contextMenuItems" [frozenRows]='frozenRow' [frozenColumns]='frozenColumn'
    (contextMenuClick)='contextMenuClick($event)' [allowSorting]='true' [allowFiltering]='allowFiltering'
    [allowReordering]='allowReordering'>
    <e-columns>
      <e-column field='taskID' headerText='Task ID' width='70' textAlign='Right'></e-column>
      <e-column field='taskName' headerText='Task Name' width='200'></e-column>
      <e-column field='startDate' headerText='Start Date' width='90' format="yMd" textAlign='Right'></e-column>
      <e-column field='endDate' headerText='End Date' width='90' format="yMd" textAlign='Right'></e-column>
      <e-column field='duration' headerText='Duration' width='80' textAlign='Right'></e-column>
      <e-column field='progress' headerText='Progress' width='80' textAlign='Right'></e-column>
      <e-column field='priority' headerText='Priority' width='90'></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
