<div class="control-section">
  <ejs-grid #grid [dataSource]='data' id="gridcomp" [allowSorting]='true' [allowMultiSorting]='allowMultiSorting'
    [allowResizing]='allowResizing' [editSettings]='editSettings' [contextMenuItems]="contextMenuItems"
    [frozenRows]='frozenRow' [frozenColumns]='frozenColumn' (contextMenuClick)='contextMenuClick($event)'
    [allowSorting]='true' [allowFiltering]='allowFiltering' [allowReordering]='allowReordering'>
    <e-columns>
      <e-column field='OrderID' headerText='Order ID' width='120' textAlign='Right' isPrimaryKey='true'></e-column>
      <e-column field='CustomerName' headerText='Customer Name'></e-column>
      <e-column field='Freight' headerText='Freight' format='C2' textAlign='Right' editType='numericedit'></e-column>
      <e-column field='ShipName' headerText='Ship Name' width='200'></e-column>
      <e-column field='ShipCountry' headerText='Ship Country' width='150' editType='dropdownedit'></e-column>
      <e-column field='ShipCity' headerText='Ship City' width='150'></e-column>
    </e-columns>
  </ejs-grid>
</div>
