/* You can add global styles to this file, and also import other style files */
.e-style:before {
  content: '\e686';
}

#gridcomp {
  // width: 100%;
  height: 100vh;
  overflow: auto;
}

.form-horizontal .form-group {
  margin-left: 0px !important;
}

.e-dialog .e-footer-content {
  padding: 20px 35px 20px 0px;
  text-align: left !important;
}

div.e-movableheader>table {
  width: 100% !important;
}

div.e-movablecontent>table {
  width: 100% !important;
}

#gridcomp_content_table {
  width: 100% !important;
}

td.e-rowcell {
  border: 1px solid #CCC !important;
  cursor: pointer;
}

.e-input {
  width: 100%;
  margin: 10px !important;
  padding: 5px;
  border: 1px solid grey;

}

.e-freeze:before {
  content: '\e88d';
}

.e-del-col:before {
  content: '\e282';
}

.e-edit-col:before {
  content: '\ea9a';
}

.e-add-col:before {
  content: '\ea99';
}


.e-sort:before {
  content: '\e890';
}

.e-filter:before {
  content: '\e736';
}

.grid-freezeprop {
  padding-bottom: 5px;
}

.new-row {
  margin-top: 30px;
}

.fl {
  float: left;
}

.grid-freezecol {
  display: inline-block;
  padding-right: 10px;
}
